.start-button
    $bgColor = #ddd

    display: inline-block
    margin: 2.4em 0 3em
    padding: 0.6em

    font-size: 24px

    cursor: pointer
    user-select: none
    border: 4px solid #fff
    background: $bgColor


    &:hover
        background-color: lighten($bgColor, 10%)
