.start-button
    $bgColor = yellowgreen

    display: inline-block
    margin: 3em 0
    padding: 0.6em

    font-size: 24px

    cursor: pointer
    user-select: none
    background: $bgColor


    &:hover
        background-color: lighten($bgColor, 10%)
