html {
    height: 100%
}

body {
    height: 100%
    margin: 0
}

#root {
    height: 100%
}

.app
    height: 100%

    font-family: Roboto, sans-serif

    background: rgba(0,0,0,.2)


    &__container
        display: flex
        flex-direction: column
        width: 50%
        max-width: 500px
        height: 100%
        margin: auto


    &__header
        padding: 40px 0


    &__main
        flex: 1


    &__title
        margin: 0

        text-align: center
        font-size: 54px
