.n-counter
    display: flex
    align-items: center;


    &__value
        width: 0.6em
        margin: 0 10px

        text-align: center
        font-size: 30px
        line-height: 1


    &__control
        $size = .8em
        $bgColor = #aaa

        display: inline-block
        width: $size
        height: $size

        text-align: center
        font-size: 40px
        line-height: $size
        color: #fff

        user-select: none
        cursor: pointer
        border: 4px solid #fff
        background: $bgColor


        &:hover
            background-color: lighten($bgColor, 10%)
