.n-counter
    display: flex
    align-items: center;


    &__value
        margin: 0 10px

        font-size: 30px
        line-height: 1


    &__control
        $size = .8em

        display: inline-block
        width: $size
        height: $size

        text-align: center
        font-size: 40px
        line-height: $size
        color: #fff

        user-select: none
        cursor: pointer
        background: tomato
