.answer-result
    $visibleTime = .2s

    text-align: center
    animation: flash $visibleTime forwards


    &_correct
        color: yellowgreen


    &_wrong
        color: tomato


    @keyframes flash
        0%
            opacity: 1

        90%
            opacity: 1

        100%
            opacity: 0
