.board
    $cellSize = 100px

    position: relative

    width: 3 * $cellSize
    height: 3 * $cellSize
    margin: auto

    background: #fff


    &__cells
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

        margin: 0
        padding: 0

        list-style: none


    &__cell
        box-sizing: border-box
        float: left

        width: $cellSize
        height: $cellSize


        &_active
            background: yellowgreen
