.board
    $cellSize = 100px

    position: relative

    width: 3 * $cellSize
    height: 3 * $cellSize
    margin: auto

    background: #fff


    &__cells
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

        margin: 0
        padding: 0

        list-style: none


    &__cell
        $visibleTime = .5s
        $bgColor = #ddd
        $bgColorActive = #aaa

        box-sizing: border-box
        float: left
        opacity: 1

        width: $cellSize
        height: $cellSize

        background: $bgColor
        border: 4px solid #fff


        &_active
            background: $bgColorActive
            animation: activeCell $visibleTime forwards


        @keyframes activeCell
            0%
                background: $bgColor

            5%
                background: $bgColorActive

            90%
                background: $bgColorActive

            100%
                background: $bgColor
